.circle {
  position: absolute;
  z-index: -9999;
  opacity: 13%;
  border-radius: 50%;
  filter: blur(40px);
  background: linear-gradient(to right, rgba(79, 173, 13, 0.34), #64b32c, rgba(100, 179, 44, 0.26));
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.responsiveHidden {
  display: none;
}

@media (min-width: 1024px) {
  .responsiveHidden {
    display: block;
  }
}

@media (min-width: 1440px) {
  .xlVisible {
    display: block;
  }
}

@media (min-width: 2000px) {
  .threeXlHidden {
    display: none;
  }
}
