
.accountWrapper {
    @apply bg-white p-[25px] sm:p-[35px] rounded-lg;
}

.accountHeader {
    @apply flex xs:items-center justify-between gap-2 flex-col xs:flex-row border-b pb-1.5;
}

.accountHeader h1 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
}

.accountHeader small {
    font-size: 1rem;
    color: #6c757d;
    line-height: 1.5;
}

.title{
    @apply font-medium w-full dark:text-black  sm:w-1/3;
}

.subtitle {
    @apply text-muted-foreground w-full sm:w-2/3 break-words;
}
