.newsMainContainer {
    display: grid;
    gap: 15px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(300px, auto);
}

@media (min-width: 460px) {
    .newsMainContainer {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-template-rows: minmax(300px, auto);
    }

    .newsMainContainer > *:nth-child(3) {
        grid-column: span 2;
        min-width: 300px;
        justify-self: center;
    }
}

@media (min-width: 768px) {
    .newsMainContainer{
        grid-template-columns: repeat(auto-fill, minmax(200px, 350px));
        grid-template-rows: minmax(300px, 1fr);
    }
}

@media (min-width: 1280px) {
    .newsMainContainer {
        grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
        grid-template-rows: minmax(400px, 1fr);
        justify-content: space-around;
    }

    .newsMainContainer > *:nth-child(3) {
        grid-column: inherit;
        min-width: inherit;
        justify-self: normal;
    }
}
