.newsMainContainer {
  display: grid;
  gap: 15px;
  justify-content: center;
  grid-auto-rows: minmax(280px, auto);
}

@media (min-width: 500px) {
  .newsMainContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(300px, auto);
  }

  .newsMainContainer > *:nth-child(3) {
    grid-column: span 2;
    min-width: 300px;
    min-height: 300px;
    justify-self: center;
  }
}

@media (min-width: 1100px) {
  .newsMainContainer {
    grid-template-columns: repeat(3, minmax(200px, 400px));
    grid-template-rows: minmax(400px, 1fr);
  }

  .newsMainContainer > *:nth-child(3) {
    grid-column: inherit;
    min-width: inherit;
    justify-self: normal;
  }
}
