.accountWrapper {
  @apply bg-white p-[25px] sm:p-[40px] rounded-lg;
}

.accountHeader {
  @apply flex xs:items-center justify-between gap-2 flex-col xs:flex-row border-b pb-1.5;
}

.accountHeader h1 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
}

.accountHeader small {
  font-size: 1rem;
  color: #6c757d;
  line-height: 1.5;
}

.fullName {
  @apply text-xl dark:text-black font-medium;
}
.fullNameDiv {
  @apply mb-3 flex flex-col;
}

.greenText {
  @apply text-[#64B32C];
}

.title {
  @apply font-medium w-full dark:text-black  sm:w-1/3;
}

.divWrapper {
  @apply space-y-2 flex flex-col;
}
.mainWrapper {
  @apply mt-2 flex flex-col max-w-2xl;
}

.textWrapper {
  @apply flex flex-wrap;
}

.subtitle {
  @apply text-muted-foreground w-full sm:w-2/3 break-words;
}

.inputField,
.selectTrigger {
  @apply h-12 w-full rounded-md border border-gray-300 px-3 py-2 text-base shadow-sm;
  @apply focus:outline-none focus:border-[#64B32C] focus:ring-[#80BC41];
}

.formWrapper {
  @apply flex flex-col gap-1.5;

  & label {
    @apply text-base font-medium;
  }
}
.buttonWrapper {
  @apply flex flex-col gap-2 mt-6;

  & button {
    @apply h-12;
  }
}
